body {
  margin: 0;
  padding: 0;
}

#container {
  height: 80vh;
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: auto;
  padding: 10px;
}

form {
  display: grid;
}

input {
  height: 1.5em;
  width: 300px;
  border-radius: 5px;
  border: 1px solid rgb(197, 197, 197);
}

input:hover {
  box-shadow: 2px 1px 3px grey;
}

button {
  border: none;
  color: gray;
  margin: 10px;
}
